._1-servi-os-bra-light,
._1-servi-os-bra-light * {
  box-sizing: border-box;
}
._1-servi-os-bra-light {
  background: var(--cta-elements, #ffac00);
  height: 2528px;
  position: relative;
  overflow: hidden;
}
.bottombar {
  background: var(--cta-menus, #0f051c);
  padding: 49px 203px 49px 203px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 1500px;
  height: 152px;
  position: absolute;
  left: 0px;
  top: 2376px;
}
.todos-direitos-reservados-2022-criado-e-desenvolvido-euicaro {
  color: var(--cta-elements, #ffac00);
  text-align: left;
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.todos-direitos-reservados-2022-criado-e-desenvolvido-euicaro-span {
  color: var(--cta-elements, #ffac00);
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 30px;
  font-weight: 600;
}
.todos-direitos-reservados-2022-criado-e-desenvolvido-euicaro-span2 {
  color: var(--cta-elements, #ffac00);
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 35px;
  font-weight: 600;
  text-transform: uppercase;
}
.todos-direitos-reservados-2022-criado-e-desenvolvido-euicaro-span3 {
  color: var(--cta-elements, #ffac00);
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 30px;
  font-weight: 600;
  text-transform: uppercase;
}
.todos-direitos-reservados-2022-criado-e-desenvolvido-euicaro-span4 {
  color: var(--cta-elements, #ffac00);
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 40px;
  font-weight: 600;
  text-transform: uppercase;
}
.todos-direitos-reservados-2022-criado-e-desenvolvido-euicaro-span5 {
  color: var(--cta-elements, #ffac00);
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 30px;
  font-weight: 600;
  text-transform: uppercase;
}
.todos-direitos-reservados-2022-criado-e-desenvolvido-euicaro-span6 {
  color: var(--cta-elements, #ffac00);
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 30px;
  font-weight: 600;
}
.todos-direitos-reservados-2022-criado-e-desenvolvido-euicaro-span7 {
  color: var(--cta-elements, #ffac00);
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 30px;
  font-weight: 600;
  text-transform: lowercase;
}
.todos-direitos-reservados-2022-criado-e-desenvolvido-euicaro-span8 {
  color: var(--cta-elements, #ffac00);
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 30px;
  font-weight: 600;
}
.todos-direitos-reservados-2022-criado-e-desenvolvido-euicaro-span9 {
  color: var(--cta-elements, #ffac00);
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 30px;
  font-weight: 600;
  text-transform: uppercase;
}
.todos-direitos-reservados-2022-criado-e-desenvolvido-euicaro-span10 {
  color: var(--cta-elements, #ffac00);
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 30px;
  font-weight: 600;
  text-transform: lowercase;
}
.todos-direitos-reservados-2022-criado-e-desenvolvido-euicaro-span11 {
  color: var(--cta-elements, #ffac00);
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 40px;
  font-weight: 600;
  text-transform: lowercase;
}
.xp {
  display: flex;
  flex-direction: row;
  gap: 70px;
  row-gap: 50px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
  width: 1420px;
  height: 815px;
  position: absolute;
  left: 40px;
  top: 1511px;
}
.designer {
  display: flex;
  flex-direction: row;
  gap: 644px;
  row-gap: 15px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
  flex-shrink: 0;
  width: 426px;
  height: 604px;
  position: relative;
}
.consultor-em-design {
  color: var(--cta-menus, #0f051c);
  text-align: left;
  font-family: "RubikDirt-Regular", sans-serif;
  font-size: 55px;
  font-weight: 400;
  position: relative;
  width: 436px;
  height: 65px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
._2011-hoje {
  color: var(--cta-menus, #0f051c);
  text-align: right;
  font-family: "Quicksand-Bold", sans-serif;
  font-size: 30px;
  font-weight: 700;
  position: relative;
  width: 410px;
  height: 38px;
}
.agencias-de-publicidade-e-aut-nomo {
  color: var(--text-secundary, #0f051c);
  text-align: right;
  font-family: "Quicksand-Bold", sans-serif;
  font-size: 30px;
  font-weight: 700;
  position: relative;
  width: 425px;
  height: 61px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.agencias-de-publicidade-e-aut-nomo-span {
  color: var(--text-secundary, #0f051c);
  font-family: "Quicksand-Bold", sans-serif;
  font-size: 30px;
  font-weight: 700;
}
.agencias-de-publicidade-e-aut-nomo-span2 {
  color: var(--text-secundary, #0f051c);
  font-family: "Quicksand-Bold", sans-serif;
  font-size: 30px;
  font-weight: 700;
  text-transform: lowercase;
}
.agencias-de-publicidade-e-aut-nomo-span3 {
  color: var(--text-secundary, #0f051c);
  font-family: "Quicksand-Bold", sans-serif;
  font-size: 30px;
  font-weight: 700;
}
.consultoria-em-design {
  color: var(--cta-menus, #0f051c);
  text-align: left;
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 30px;
  letter-spacing: -0.05em;
  font-weight: 600;
  position: relative;
  width: 426px;
  height: 503px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.consultoria-em-design-span {
  color: var(--cta-menus, #0f051c);
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 30px;
  letter-spacing: -0.05em;
  font-weight: 600;
}
.consultoria-em-design-span2 {
  color: var(--cta-menus, #0f051c);
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 30px;
  letter-spacing: -0.05em;
  font-weight: 600;
  text-transform: lowercase;
}
.consultoria-em-design-span3 {
  color: var(--cta-menus, #0f051c);
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 30px;
  letter-spacing: -0.05em;
  font-weight: 600;
}
.consultoria-em-design-span4 {
  color: var(--cta-menus, #0f051c);
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 30px;
  letter-spacing: -0.05em;
  font-weight: 600;
  text-transform: lowercase;
}
.consultoria-em-design-span5 {
  color: var(--cta-menus, #0f051c);
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 30px;
  letter-spacing: -0.05em;
  font-weight: 600;
}
.consultoria-em-design-span6 {
  color: var(--cta-menus, #0f051c);
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 30px;
  letter-spacing: -0.05em;
  font-weight: 600;
  text-transform: lowercase;
}
.ux-ui-s-nior {
  display: flex;
  flex-direction: row;
  gap: 644px;
  row-gap: 15px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
  flex-shrink: 0;
  width: 427px;
  height: 649px;
  position: relative;
}
.ux-research {
  color: var(--cta-menus, #0f051c);
  text-align: left;
  font-family: "RubikDirt-Regular", sans-serif;
  font-size: 55px;
  font-weight: 400;
  position: relative;
  width: 377px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
._2011-hoje2 {
  color: var(--cta-menus, #0f051c);
  text-align: right;
  font-family: "Quicksand-Bold", sans-serif;
  font-size: 30px;
  font-weight: 700;
  position: relative;
  width: 352px;
  height: 38px;
}
.agencias-de-publicidade-e-aut-nomo2 {
  color: var(--text-secundary, #0f051c);
  text-align: right;
  font-family: "Quicksand-Bold", sans-serif;
  font-size: 30px;
  font-weight: 700;
  position: relative;
  width: 364px;
  height: 61px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.agencias-de-publicidade-e-aut-nomo-2-span {
  color: var(--text-secundary, #0f051c);
  font-family: "Quicksand-Bold", sans-serif;
  font-size: 30px;
  font-weight: 700;
}
.agencias-de-publicidade-e-aut-nomo-2-span2 {
  color: var(--text-secundary, #0f051c);
  font-family: "Quicksand-Bold", sans-serif;
  font-size: 30px;
  font-weight: 700;
  text-transform: lowercase;
}
.agencias-de-publicidade-e-aut-nomo-2-span3 {
  color: var(--text-secundary, #0f051c);
  font-family: "Quicksand-Bold", sans-serif;
  font-size: 30px;
  font-weight: 700;
}
.consultoria-em-design2 {
  color: var(--cta-menus, #0f051c);
  text-align: left;
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 30px;
  font-weight: 600;
  position: absolute;
  left: 0px;
  top: 225px;
  width: 427px;
  height: 494px;
}
.consultoria-em-design-2-span {
  color: var(--cta-menus, #0f051c);
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 30px;
  font-weight: 600;
}
.consultoria-em-design-2-span2 {
  color: var(--cta-menus, #0f051c);
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 30px;
  font-weight: 600;
  text-transform: lowercase;
}
.consultoria-em-design-2-span3 {
  color: var(--cta-menus, #0f051c);
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 30px;
  font-weight: 600;
}
.consultoria-em-design-2-span4 {
  color: var(--cta-menus, #0f051c);
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 30px;
  font-weight: 600;
  text-transform: lowercase;
}
.consultoria-em-design-2-span5 {
  color: var(--cta-menus, #0f051c);
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 30px;
  font-weight: 600;
  text-transform: uppercase;
}
.consultoria-em-design-2-span6 {
  color: var(--cta-menus, #0f051c);
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 30px;
  font-weight: 600;
}
.consultoria-em-design-2-span7 {
  color: var(--cta-menus, #0f051c);
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 30px;
  font-weight: 600;
  text-transform: lowercase;
}
.consultoria-em-design-2-span8 {
  color: var(--cta-menus, #0f051c);
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 30px;
  font-weight: 600;
}
.consultoria-em-design-2-span9 {
  color: var(--cta-menus, #0f051c);
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 30px;
  font-weight: 600;
  text-transform: lowercase;
}
.dire-o-de-arte {
  display: flex;
  flex-direction: row;
  gap: 644px;
  row-gap: 15px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
  flex-shrink: 0;
  width: 427px;
  height: 815px;
  position: relative;
}
.dire-o-de-arte2 {
  color: var(--cta-menus, #0f051c);
  text-align: left;
  font-family: "RubikDirt-Regular", sans-serif;
  font-size: 55px;
  font-weight: 400;
  position: absolute;
  left: -22px;
  top: 0px;
  width: 472px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.dire-o-de-arte-2-span {
  color: var(--cta-menus, #0f051c);
  font-family: "RubikDirt-Regular", sans-serif;
  font-size: 55px;
  font-weight: 400;
}
.dire-o-de-arte-2-span2 {
  color: var(--cta-menus, #0f051c);
  font-family: "RubikDirt-Regular", sans-serif;
  font-size: 55px;
  font-weight: 400;
  text-transform: lowercase;
}
.dire-o-de-arte-2-span3 {
  color: var(--cta-menus, #0f051c);
  font-family: "RubikDirt-Regular", sans-serif;
  font-size: 55px;
  font-weight: 400;
}
.consultoria-em-design3 {
  color: var(--cta-menus, #0f051c);
  text-align: left;
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 30px;
  letter-spacing: -0.05em;
  font-weight: 600;
  position: absolute;
  left: 0px;
  top: 217px;
  width: 427px;
  height: 598px;
}
.consultoria-em-design-3-span {
  color: var(--cta-menus, #0f051c);
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 30px;
  letter-spacing: -0.05em;
  font-weight: 600;
}
.consultoria-em-design-3-span2 {
  color: var(--cta-menus, #0f051c);
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 30px;
  letter-spacing: -0.05em;
  font-weight: 600;
  text-transform: lowercase;
}
.consultoria-em-design-3-span3 {
  color: var(--cta-menus, #0f051c);
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 30px;
  letter-spacing: -0.05em;
  font-weight: 600;
}
.consultoria-em-design-3-span4 {
  color: var(--cta-menus, #0f051c);
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 30px;
  letter-spacing: -0.05em;
  font-weight: 600;
  text-transform: lowercase;
}
.consultoria-em-design-3-span5 {
  color: var(--cta-menus, #0f051c);
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 30px;
  letter-spacing: -0.05em;
  font-weight: 600;
}
.consultoria-em-design-3-span6 {
  color: var(--cta-menus, #0f051c);
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 30px;
  letter-spacing: -0.05em;
  font-weight: 600;
  text-transform: lowercase;
}
.consultoria-em-design-3-span7 {
  color: var(--cta-menus, #0f051c);
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 30px;
  letter-spacing: -0.05em;
  font-weight: 600;
}
.consultoria-em-design-3-span8 {
  color: var(--cta-menus, #0f051c);
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 30px;
  letter-spacing: -0.05em;
  font-weight: 600;
  text-transform: lowercase;
}
.consultoria-em-design-3-span9 {
  color: var(--cta-menus, #0f051c);
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 30px;
  letter-spacing: -0.05em;
  font-weight: 600;
  text-transform: uppercase;
}
.consultoria-em-design-3-span10 {
  color: var(--cta-menus, #0f051c);
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 30px;
  letter-spacing: -0.05em;
  font-weight: 600;
  text-transform: lowercase;
}
.consultoria-em-design-3-span11 {
  color: var(--cta-menus, #0f051c);
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 30px;
  letter-spacing: -0.05em;
  font-weight: 600;
}
.consultoria-em-design-3-span12 {
  color: var(--cta-menus, #0f051c);
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 30px;
  letter-spacing: -0.05em;
  font-weight: 600;
  text-transform: lowercase;
}
.consultoria-em-design-3-span13 {
  color: var(--cta-menus, #0f051c);
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 30px;
  letter-spacing: -0.05em;
  font-weight: 600;
}
.consultoria-em-design-3-span14 {
  color: var(--cta-menus, #0f051c);
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 30px;
  letter-spacing: -0.05em;
  font-weight: 600;
  text-transform: lowercase;
}
._2011-hoje3 {
  color: #000000;
  text-align: right;
  font-family: "Quicksand-Bold", sans-serif;
  font-size: 30px;
  font-weight: 700;
  position: absolute;
  left: 57px;
  top: 79px;
  width: 363px;
  height: 38px;
}
.agencias-de-publicidade-e-aut-nomo3 {
  color: var(--text-secundary, #0f051c);
  text-align: right;
  font-family: "Quicksand-Bold", sans-serif;
  font-size: 30px;
  letter-spacing: -0.05em;
  font-weight: 700;
  position: absolute;
  left: 0px;
  top: 129px;
  width: 427px;
  height: 76px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.agencias-de-publicidade-e-aut-nomo-3-span {
  color: var(--text-secundary, #0f051c);
  font-family: "Quicksand-Bold", sans-serif;
  font-size: 30px;
  letter-spacing: -0.05em;
  font-weight: 700;
}
.agencias-de-publicidade-e-aut-nomo-3-span2 {
  color: var(--text-secundary, #0f051c);
  font-family: "Quicksand-Bold", sans-serif;
  font-size: 30px;
  letter-spacing: -0.05em;
  font-weight: 700;
  text-transform: lowercase;
}
.agencias-de-publicidade-e-aut-nomo-3-span3 {
  color: var(--text-secundary, #0f051c);
  font-family: "Quicksand-Bold", sans-serif;
  font-size: 30px;
  letter-spacing: -0.05em;
  font-weight: 700;
}
.experi-ncia-profissional {
  color: var(--cta-menus, #0f051c);
  text-align: left;
  font-family: "RubikDirt-Regular", sans-serif;
  font-size: 55px;
  font-weight: 400;
  position: absolute;
  left: 40px;
  top: 1396px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.experi-ncia-profissional-span {
  color: var(--cta-menus, #0f051c);
  font-family: "RubikDirt-Regular", sans-serif;
  font-size: 55px;
  font-weight: 400;
}
.experi-ncia-profissional-span2 {
  color: var(--cta-menus, #0f051c);
  font-family: "RubikDirt-Regular", sans-serif;
  font-size: 55px;
  font-weight: 400;
  text-transform: lowercase;
}
.experi-ncia-profissional-span3 {
  color: var(--cta-menus, #0f051c);
  font-family: "RubikDirt-Regular", sans-serif;
  font-size: 55px;
  font-weight: 400;
}
.experi-ncia-profissional-span4 {
  color: var(--cta-menus, #0f051c);
  font-family: "RubikDirt-Regular", sans-serif;
  font-size: 55px;
  font-weight: 400;
  text-transform: lowercase;
}
.ux-ui {
  display: flex;
  flex-direction: row;
  gap: 70px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
  width: 1420px;
  height: 674px;
  position: absolute;
  left: 40px;
  top: 622px;
}
.ux-research2 {
  display: flex;
  flex-direction: row;
  gap: 644px;
  row-gap: 15px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
  flex-shrink: 0;
  width: 427px;
  height: 670px;
  position: relative;
}
.ux-research3 {
  color: var(--cta-menus, #0f051c);
  text-align: left;
  font-family: "RubikDirt-Regular", sans-serif;
  font-size: 55px;
  font-weight: 400;
  position: relative;
  width: 389px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.consultoria-em-design4 {
  text-align: left;
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 30px;
  font-weight: 600;
  position: relative;
  width: 420px;
  height: 408px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.consultoria-em-design-4-span {
  color: #ffac00;
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 30px;
  font-weight: 600;
  text-transform: lowercase;
}
.consultoria-em-design-4-span2 {
  color: #ffffff;
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 30px;
  font-weight: 600;
}
.consultoria-em-design-4-span3 {
  color: #ffffff;
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 30px;
  font-weight: 600;
  text-transform: lowercase;
}
.consultoria-em-design-4-span4 {
  color: var(--cta-menus, #0f051c);
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 30px;
  font-weight: 600;
  text-transform: lowercase;
}
.consultoria-em-design-4-span5 {
  color: var(--cta-menus, #0f051c);
  list-style-type: disc;
  padding-left: 1em;
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 30px;
  font-weight: 600;
}
.consultoria-em-design-4-span6 {
  color: var(--cta-menus, #0f051c);
  list-style-type: disc;
  padding-left: 1em;
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 30px;
  font-weight: 600;
  text-transform: lowercase;
}
.consultoria-em-design-4-span7 {
  color: var(--cta-menus, #0f051c);
  list-style-type: disc;
  padding-left: 1em;
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 30px;
  font-weight: 600;
}
.consultoria-em-design-4-span8 {
  color: var(--cta-menus, #0f051c);
  list-style-type: disc;
  padding-left: 1em;
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 30px;
  font-weight: 600;
  text-transform: lowercase;
}
.consultoria-em-design-4-span9 {
  color: var(--cta-menus, #0f051c);
  list-style-type: disc;
  padding-left: 1em;
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 30px;
  font-weight: 600;
}
.consultoria-em-design-4-span10 {
  color: var(--cta-menus, #0f051c);
  list-style-type: disc;
  padding-left: 1em;
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 30px;
  font-weight: 600;
  text-transform: lowercase;
}
.consultoria-em-design-4-span11 {
  color: var(--cta-menus, #0f051c);
  list-style-type: disc;
  padding-left: 1em;
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 30px;
  font-weight: 600;
}
.consultoria-em-design-4-span12 {
  color: var(--cta-menus, #0f051c);
  list-style-type: disc;
  padding-left: 1em;
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 30px;
  font-weight: 600;
  text-transform: lowercase;
}
.consultoria-em-design-4-span13 {
  color: var(--cta-menus, #0f051c);
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 30px;
  font-weight: 600;
  text-transform: lowercase;
}
.consultoria-em-design-4-span14 {
  color: var(--cta-menus, #0f051c);
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 30px;
  font-weight: 600;
}
.consultoria-em-design-4-span15 {
  color: var(--cta-menus, #0f051c);
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 30px;
  font-weight: 600;
  text-transform: lowercase;
}
.ux-design {
  display: flex;
  flex-direction: row;
  gap: 644px;
  row-gap: 15px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
  flex-shrink: 0;
  width: 426px;
  height: 604px;
  position: relative;
}
.consultoria-em-design5 {
  text-align: left;
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 30px;
  font-weight: 600;
  position: relative;
  width: 426px;
  height: 488px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.consultoria-em-design-5-span {
  color: var(--text-secundary, #0f051c);
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 30px;
  font-weight: 600;
}
.consultoria-em-design-5-span2 {
  color: var(--text-secundary, #0f051c);
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 30px;
  font-weight: 600;
  text-transform: lowercase;
}
.consultoria-em-design-5-span3 {
  color: #ffac00;
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 30px;
  font-weight: 600;
  text-transform: lowercase;
}
.consultoria-em-design-5-span4 {
  color: var(--cta-menus, #0f051c);
  list-style-type: disc;
  padding-left: 1em;
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 30px;
  font-weight: 600;
}
.consultoria-em-design-5-span5 {
  color: var(--cta-menus, #0f051c);
  list-style-type: disc;
  padding-left: 1em;
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 30px;
  font-weight: 600;
  text-transform: lowercase;
}
.consultoria-em-design-5-span6 {
  color: var(--cta-menus, #0f051c);
  list-style-type: disc;
  padding-left: 1em;
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 30px;
  font-weight: 600;
}
.consultoria-em-design-5-span7 {
  color: var(--cta-menus, #0f051c);
  list-style-type: disc;
  padding-left: 1em;
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 30px;
  font-weight: 600;
  text-transform: lowercase;
}
.consultoria-em-design-5-span8 {
  color: var(--cta-menus, #0f051c);
  list-style-type: disc;
  padding-left: 1em;
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 30px;
  font-weight: 600;
}
.consultoria-em-design-5-span9 {
  color: var(--cta-menus, #0f051c);
  list-style-type: disc;
  padding-left: 1em;
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 30px;
  font-weight: 600;
  text-transform: lowercase;
}
.consultoria-em-design-5-span10 {
  color: var(--cta-menus, #0f051c);
  list-style-type: disc;
  padding-left: 1em;
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 30px;
  font-weight: 600;
}
.consultoria-em-design-5-span11 {
  color: var(--cta-menus, #0f051c);
  list-style-type: disc;
  padding-left: 1em;
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 30px;
  font-weight: 600;
  text-transform: lowercase;
}
.consultoria-em-design-5-span12 {
  color: var(--cta-menus, #0f051c);
  list-style-type: disc;
  padding-left: 1em;
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 30px;
  font-weight: 600;
}
.consultoria-em-design-5-span13 {
  color: var(--cta-menus, #0f051c);
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 30px;
  font-weight: 600;
  text-transform: lowercase;
}
.consultoria-em-design-5-span14 {
  color: var(--cta-menus, #0f051c);
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 30px;
  font-weight: 600;
}
.consultoria-em-design-5-span15 {
  color: var(--cta-menus, #0f051c);
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 30px;
  font-weight: 600;
  text-transform: lowercase;
}
.ui-design {
  display: flex;
  flex-direction: row;
  gap: 644px;
  row-gap: 15px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
  flex-shrink: 0;
  width: 427px;
  height: 642px;
  position: relative;
}
.consultoria-em-design6 {
  text-align: left;
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 30px;
  font-weight: 600;
  position: relative;
  width: 427px;
  height: 598px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.consultoria-em-design-6-span {
  color: var(--text-secundary, #0f051c);
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 30px;
  font-weight: 600;
}
.consultoria-em-design-6-span2 {
  color: var(--text-secundary, #0f051c);
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 30px;
  font-weight: 600;
  text-transform: lowercase;
}
.consultoria-em-design-6-span3 {
  color: var(--text-secundary, #0f051c);
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 30px;
  font-weight: 600;
  text-transform: uppercase;
}
.consultoria-em-design-6-span4 {
  color: var(--text-secundary, #0f051c);
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 30px;
  font-weight: 600;
  text-transform: lowercase;
}
.consultoria-em-design-6-span5 {
  color: #ffac00;
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 30px;
  font-weight: 600;
  text-transform: lowercase;
}
.consultoria-em-design-6-span6 {
  color: var(--cta-menus, #0f051c);
  list-style-type: disc;
  padding-left: 1em;
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 30px;
  font-weight: 600;
}
.consultoria-em-design-6-span7 {
  color: var(--cta-menus, #0f051c);
  list-style-type: disc;
  padding-left: 1em;
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 30px;
  font-weight: 600;
  text-transform: lowercase;
}
.consultoria-em-design-6-span8 {
  color: var(--cta-menus, #0f051c);
  list-style-type: disc;
  padding-left: 1em;
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 30px;
  font-weight: 600;
}
.consultoria-em-design-6-span9 {
  color: var(--cta-menus, #0f051c);
  list-style-type: disc;
  padding-left: 1em;
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 30px;
  font-weight: 600;
  text-transform: lowercase;
}
.consultoria-em-design-6-span10 {
  color: var(--cta-menus, #0f051c);
  list-style-type: disc;
  padding-left: 1em;
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 30px;
  font-weight: 600;
}
.consultoria-em-design-6-span11 {
  color: var(--cta-menus, #0f051c);
  list-style-type: disc;
  padding-left: 1em;
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 30px;
  font-weight: 600;
  text-transform: lowercase;
}
.consultoria-em-design-6-span12 {
  color: var(--cta-menus, #0f051c);
  list-style-type: disc;
  padding-left: 1em;
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 30px;
  font-weight: 600;
}
.consultoria-em-design-6-span13 {
  color: var(--cta-menus, #0f051c);
  list-style-type: disc;
  padding-left: 1em;
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 30px;
  font-weight: 600;
  text-transform: lowercase;
}
.consultoria-em-design-6-span14 {
  color: var(--cta-menus, #0f051c);
  list-style-type: disc;
  padding-left: 1em;
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 30px;
  font-weight: 600;
}
.consultoria-em-design-6-span15 {
  color: var(--cta-menus, #0f051c);
  list-style-type: disc;
  padding-left: 1em;
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 30px;
  font-weight: 600;
  text-transform: lowercase;
}
.consultoria-em-design-6-span16 {
  color: var(--cta-menus, #0f051c);
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 30px;
  font-weight: 600;
  text-transform: lowercase;
}
.consultoria-em-design-6-span17 {
  color: var(--cta-menus, #0f051c);
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 30px;
  font-weight: 600;
}
.consultoria-em-design-6-span18 {
  color: var(--cta-menus, #0f051c);
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 30px;
  font-weight: 600;
  text-transform: lowercase;
}
.o-que-fa-o {
  display: flex;
  flex-direction: row;
  gap: 644px;
  row-gap: 15px;
  align-items: flex-end;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: flex-end;
  width: 1420px;
  position: absolute;
  left: 40px;
  top: 252px;
}
.o-que-fa-o2 {
  color: var(--cta-menus, #0f051c);
  text-align: left;
  font-family: "RubikDirt-Regular", sans-serif;
  font-size: 55px;
  font-weight: 400;
  position: relative;
  width: 323px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.coordeno-e-trabalhos-nas-tr-s-etapas-da-experi-ncia-de-usu-rio-e-interface-do-usu-rio {
  color: var(--cta-menus, #0f051c);
  text-align: left;
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 30px;
  font-weight: 600;
  position: relative;
  width: 1002px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.coordeno-e-trabalhos-nas-tr-s-etapas-da-experi-ncia-de-usu-rio-e-interface-do-usu-rio-span {
  color: var(--cta-menus, #0f051c);
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 30px;
  font-weight: 600;
}
.coordeno-e-trabalhos-nas-tr-s-etapas-da-experi-ncia-de-usu-rio-e-interface-do-usu-rio-span2 {
  color: var(--cta-menus, #0f051c);
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 30px;
  font-weight: 600;
  text-transform: lowercase;
}
.coordeno-e-trabalhos-nas-tr-s-etapas-da-experi-ncia-de-usu-rio-e-interface-do-usu-rio-span3 {
  color: var(--cta-menus, #0f051c);
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 30px;
  font-weight: 600;
}
.coordeno-e-trabalhos-nas-tr-s-etapas-da-experi-ncia-de-usu-rio-e-interface-do-usu-rio-span4 {
  color: var(--cta-menus, #0f051c);
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 30px;
  font-weight: 600;
  text-transform: lowercase;
}
.coordeno-e-trabalhos-nas-tr-s-etapas-da-experi-ncia-de-usu-rio-e-interface-do-usu-rio-span5 {
  color: var(--cta-menus, #0f051c);
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 30px;
  font-weight: 600;
}
.coordeno-e-trabalhos-nas-tr-s-etapas-da-experi-ncia-de-usu-rio-e-interface-do-usu-rio-span6 {
  color: var(--cta-menus, #0f051c);
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 30px;
  font-weight: 600;
  text-transform: lowercase;
}
.coordeno-e-trabalhos-nas-tr-s-etapas-da-experi-ncia-de-usu-rio-e-interface-do-usu-rio-span7 {
  color: var(--cta-menus, #0f051c);
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 30px;
  font-weight: 600;
}
.coordeno-e-trabalhos-nas-tr-s-etapas-da-experi-ncia-de-usu-rio-e-interface-do-usu-rio-span8 {
  color: var(--cta-menus, #0f051c);
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 30px;
  font-weight: 600;
  text-transform: lowercase;
}
.bars {
  display: flex;
  flex-direction: column;
  gap: 2150px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 1500px;
  height: 150px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.topbar {
  background: var(--cta-menus, #0f051c);
  flex-shrink: 0;
  width: 1500px;
  height: 152px;
  position: relative;
}
.eng-bra {
  flex-shrink: 0;
  width: 133.08px;
  height: 50px;
  position: absolute;
  left: 40px;
  top: 76px;
  overflow: visible;
  aspect-ratio: 133.08/50;
}
.mode {
  flex-shrink: 0;
  width: 92.31px;
  height: 50px;
  position: absolute;
  left: 40px;
  top: 16px;
  overflow: visible;
  aspect-ratio: 92.31/50;
}
.menu {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: flex-start;
  width: 800px;
  position: absolute;
  left: 669px;
  top: 92px;
}
.menu2 {
  flex-shrink: 0;
  width: 275px;
  height: 45px;
  position: relative;
}
.portf-lio {
  color: #ffac00;
  text-align: right;
  font-family: "RubikDirt-Regular", sans-serif;
  font-size: 45px;
  font-weight: 400;
  text-transform: uppercase;
  position: absolute;
  right: 0px;
  bottom: 0%;
  top: 0%;
  height: 100%;
  width: 275px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
.menu3 {
  flex-shrink: 0;
  width: 150px;
  height: 45px;
  position: relative;
}
.in-cio {
  color: #ffac00;
  text-align: right;
  font-family: "RubikDirt-Regular", sans-serif;
  font-size: 45px;
  font-weight: 400;
  text-transform: uppercase;
  position: absolute;
  right: 0px;
  top: 50%;
  translate: 0 -50%;
  width: 150px;
  height: 45px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
.menu4 {
  flex-shrink: 0;
  width: 325px;
  height: 45px;
  position: relative;
}
.habilidades {
  color: #ffac00;
  text-align: right;
  font-family: "RubikDirt-Regular", sans-serif;
  font-size: 45px;
  font-weight: 400;
  text-transform: uppercase;
  position: absolute;
  right: 0px;
  bottom: 0%;
  top: 0%;
  height: 100%;
  width: 325px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
.logotype {
  width: 309.44px;
  height: 270.78px;
  position: absolute;
  left: 1228px;
  top: 265px;
}
.yellow {
  height: auto;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
}
