._0-index-eng-light,
._0-index-eng-light * {
  box-sizing: border-box;
}
._0-index-eng-light {
  background: #ffac00;
  height: 3130px;
  position: relative;
}
.bottombar {
  background: #0f051c;
  padding: 54px 206px 54px 206px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 1500px;
  height: 152.46px;
  position: absolute;
  left: 1px;
  top: 2978px;
}
.all-rights-reserved-2022-created-and-developed-euicaro {
  color: var(--text-primary, #ffac00);
  text-align: left;
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.all-rights-reserved-2022-created-and-developed-euicaro-span {
  color: var(--text-primary, #ffac00);
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 30px;
  font-weight: 600;
}
.all-rights-reserved-2022-created-and-developed-euicaro-span2 {
  color: var(--text-primary, #ffac00);
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 35px;
  font-weight: 600;
  text-transform: uppercase;
}
.all-rights-reserved-2022-created-and-developed-euicaro-span3 {
  color: var(--text-primary, #ffac00);
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 30px;
  font-weight: 600;
  text-transform: uppercase;
}
.all-rights-reserved-2022-created-and-developed-euicaro-span4 {
  color: var(--text-primary, #ffac00);
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 40px;
  font-weight: 600;
  text-transform: uppercase;
}
.all-rights-reserved-2022-created-and-developed-euicaro-span5 {
  color: var(--text-primary, #ffac00);
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 30px;
  font-weight: 600;
  text-transform: uppercase;
}
.all-rights-reserved-2022-created-and-developed-euicaro-span6 {
  color: var(--text-primary, #ffac00);
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 30px;
  font-weight: 600;
}
.all-rights-reserved-2022-created-and-developed-euicaro-span7 {
  color: var(--text-primary, #ffac00);
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 30px;
  font-weight: 600;
  text-transform: uppercase;
}
.all-rights-reserved-2022-created-and-developed-euicaro-span8 {
  color: var(--text-primary, #ffac00);
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 30px;
  font-weight: 600;
  text-transform: lowercase;
}
.all-rights-reserved-2022-created-and-developed-euicaro-span9 {
  color: var(--text-primary, #ffac00);
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 40px;
  font-weight: 600;
  text-transform: lowercase;
}
.design {
  display: flex;
  flex-direction: row;
  gap: 644px;
  row-gap: 50px;
  align-items: flex-end;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: flex-end;
  width: 691px;
  height: 539px;
  position: absolute;
  left: 771px;
  top: 1946px;
}
.clientes-principais {
  text-align: left;
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 30px;
  font-weight: 600;
  position: relative;
  width: 690px;
  height: 452px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.clientes-principais-span {
  color: #ffffff;
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 30px;
  font-weight: 600;
}
.clientes-principais-span2 {
  color: #ffac00;
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 30px;
  font-weight: 600;
}
.clientes-principais-span3 {
  color: var(--cta-icons, #0f051c);
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 30px;
  font-weight: 600;
}
.clientes-principais-span4 {
  color: var(--cta-icons, #0f051c);
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 30px;
  font-weight: 600;
  text-transform: lowercase;
}
.clientes-principais-span5 {
  color: var(--cta-icons, #0f051c);
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 30px;
  font-weight: 600;
}
.clientes-principais-span6 {
  color: var(--cta-icons, #0f051c);
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 30px;
  font-weight: 600;
  text-transform: lowercase;
}
.clientes-principais-span7 {
  color: var(--cta-icons, #0f051c);
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 30px;
  font-weight: 600;
}
.clientes-principais-span8 {
  color: var(--cta-icons, #0f051c);
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 30px;
  font-weight: 600;
  text-transform: lowercase;
}
.clientes-principais-span9 {
  color: var(--cta-icons, #0f051c);
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 30px;
  font-weight: 600;
}
.clientes-principais-span10 {
  color: var(--cta-icons, #0f051c);
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 30px;
  font-weight: 600;
  text-transform: lowercase;
}
.clientes-principais-span11 {
  color: var(--cta-icons, #0f051c);
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 30px;
  font-weight: 600;
}
.clientes-principais-span12 {
  color: var(--cta-icons, #0f051c);
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 30px;
  font-weight: 600;
  text-transform: lowercase;
}
.design2 {
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  position: absolute;
  left: 394px;
  top: 567px;
  aspect-ratio: 1;
}
.botton {
  background: #0f051c;
  border-radius: 55px;
  width: 325px;
  height: 65px;
  position: absolute;
  left: -33px;
  top: -8px;
}
.funcional {
  color: #ffac00;
  text-align: right;
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 15px;
  font-weight: 600;
  position: absolute;
  left: calc(50% - -85px);
  top: calc(50% - -11px);
  width: 156px;
  height: 11px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.prot-tipo {
  color: #ffac00;
  text-align: right;
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 35px;
  font-weight: 600;
  position: absolute;
  left: calc(50% - -84px);
  top: calc(50% - 23px);
  width: 157px;
  height: 26px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.design3 {
  width: 99.95%;
  height: 100%;
  position: absolute;
  right: 0.05%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  overflow: visible;
  aspect-ratio: 49.97/50;
}
.consultoria-em-design {
  color: var(--cta-menus, #0f051c);
  text-align: left;
  font-family: "RubikDirt-Regular", sans-serif;
  font-size: 55px;
  font-weight: 400;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 690px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.arte {
  display: flex;
  flex-direction: row;
  gap: 644px;
  row-gap: 10px;
  align-items: flex-end;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: flex-end;
  width: 690px;
  position: absolute;
  left: 40px;
  top: 2485px;
}
.artista-multim-dia {
  color: var(--cta-icons, #0f051c);
  text-align: left;
  font-family: "RubikDirt-Regular", sans-serif;
  font-size: 55px;
  font-weight: 400;
  position: relative;
  width: 690px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.consultoria-em-design2 {
  text-align: left;
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 30px;
  font-weight: 600;
  position: relative;
  width: 690px;
  height: 301px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.consultoria-em-design-2-span {
  color: #ffffff;
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 30px;
  font-weight: 600;
}
.consultoria-em-design-2-span2 {
  color: #ffffff;
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 30px;
  font-weight: 600;
  text-transform: lowercase;
}
.consultoria-em-design-2-span3 {
  color: #ffffff;
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 30px;
  font-weight: 600;
}
.consultoria-em-design-2-span4 {
  color: var(--cta-icons, #0f051c);
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 30px;
  font-weight: 600;
}
.consultoria-em-design-2-span5 {
  color: var(--cta-icons, #0f051c);
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 30px;
  font-weight: 600;
  text-transform: lowercase;
}
.consultoria-em-design-2-span6 {
  color: var(--cta-icons, #0f051c);
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 30px;
  font-weight: 600;
}
.consultoria-em-design-2-span7 {
  color: var(--cta-icons, #0f051c);
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 30px;
  font-weight: 600;
  text-transform: lowercase;
}
.consultoria-em-design-2-span8 {
  color: var(--cta-icons, #0f051c);
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 30px;
  font-weight: 600;
}
.consultoria-em-design-2-span9 {
  color: var(--cta-icons, #0f051c);
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 30px;
  font-weight: 600;
  text-transform: lowercase;
}
.consultoria-em-design-2-span10 {
  color: var(--cta-icons, #0f051c);
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 30px;
  font-weight: 600;
}
.art {
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  position: absolute;
  left: 392px;
  top: 386px;
  aspect-ratio: 1;
}
.art2 {
  width: 88%;
  height: 55.35px;
  position: absolute;
  right: 12%;
  left: 0%;
  top: 50%;
  translate: 0 -50%;
  overflow: visible;
  aspect-ratio: 44/55.35;
}
.colunista {
  display: flex;
  flex-direction: row;
  gap: 644px;
  row-gap: 15px;
  align-items: flex-end;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: flex-end;
  width: 690px;
  position: absolute;
  left: 40px;
  top: 1946px;
}
.colunista2 {
  color: var(--cta-menus, #0f051c);
  text-align: left;
  font-family: "RubikDirt-Regular", sans-serif;
  font-size: 55px;
  font-weight: 400;
  position: relative;
  width: 326px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.consultoria-em-design3 {
  text-align: left;
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 30px;
  font-weight: 600;
  position: relative;
  width: 690px;
  height: 270px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.consultoria-em-design-3-span {
  color: #ffffff;
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 30px;
  font-weight: 600;
}
.consultoria-em-design-3-span2 {
  color: #ffffff;
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 30px;
  font-weight: 600;
  text-transform: lowercase;
}
.consultoria-em-design-3-span3 {
  color: #ffffff;
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 30px;
  font-weight: 600;
}
.consultoria-em-design-3-span4 {
  color: #ffac00;
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 30px;
  font-weight: 600;
  text-transform: lowercase;
}
.consultoria-em-design-3-span5 {
  color: var(--cta-menus, #0f051c);
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 30px;
  font-weight: 600;
}
.consultoria-em-design-3-span6 {
  color: var(--cta-menus, #0f051c);
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 30px;
  font-weight: 600;
  text-transform: lowercase;
}
.consultoria-em-design-3-span7 {
  color: var(--cta-menus, #0f051c);
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 30px;
  font-weight: 600;
}
.consultoria-em-design-3-span8 {
  color: var(--cta-menus, #0f051c);
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 30px;
  font-weight: 600;
  text-transform: lowercase;
}
.consultoria-em-design-3-span9 {
  color: var(--cta-menus, #0f051c);
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 30px;
  font-weight: 600;
}
.consultoria-em-design-3-span10 {
  color: #ffac00;
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 30px;
  font-weight: 600;
}
.consultoria-em-design-3-span11 {
  color: var(--cta-icons, #0f051c);
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 30px;
  font-weight: 600;
}
.consultoria-em-design-3-span12 {
  color: var(--cta-icons, #0f051c);
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 30px;
  font-weight: 600;
  text-transform: lowercase;
}
.tealfeed {
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  position: absolute;
  left: 395px;
  top: 389px;
  aspect-ratio: 1;
}
.prot-tipo2 {
  color: #ffac00;
  text-align: right;
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 35px;
  font-weight: 600;
  position: absolute;
  left: calc(50% - -90px);
  top: calc(50% - 32px);
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.teal-feed {
  width: 56.25px;
  height: 45px;
  position: absolute;
  left: -6px;
  top: 2px;
  overflow: visible;
  aspect-ratio: 5/4;
}
.bio {
  display: flex;
  flex-direction: row;
  gap: 644px;
  row-gap: 30px;
  align-items: flex-end;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: flex-end;
  width: 1420px;
  height: 486px;
  position: absolute;
  left: 40px;
  top: 1252px;
}
.clientes-principais2 {
  color: var(--cta-menus, #0f051c);
  text-align: left;
  font-family: "RubikDirt-Regular", sans-serif;
  font-size: 55px;
  font-weight: 400;
  position: relative;
  width: 323px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.clientes-principais3 {
  color: #0f051c;
  text-align: left;
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 30px;
  font-weight: 600;
  position: relative;
  width: 690px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.clientes-principais-3-span {
  color: #0f051c;
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 30px;
  font-weight: 600;
}
.clientes-principais-3-span2 {
  color: #0f051c;
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 30px;
  font-weight: 600;
  text-transform: lowercase;
}
.clientes-principais-3-span3 {
  color: #0f051c;
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 30px;
  font-weight: 600;
}
.clientes-principais-3-span4 {
  color: #0f051c;
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 30px;
  font-weight: 600;
  text-transform: lowercase;
}
.clientes-principais-3-span5 {
  color: #0f051c;
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 30px;
  font-weight: 600;
}
.clientes-principais-3-span6 {
  color: #0f051c;
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 30px;
  font-weight: 600;
  text-transform: lowercase;
}
.clientes-principais-3-span7 {
  color: #0f051c;
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 30px;
  font-weight: 600;
}
.clientes-principais-3-span8 {
  color: #0f051c;
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 30px;
  font-weight: 600;
  text-transform: lowercase;
}
.clientes-principais-3-span9 {
  color: #0f051c;
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 30px;
  font-weight: 600;
}
.clientes-principais-3-span10 {
  color: #0f051c;
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 30px;
  font-weight: 600;
  text-transform: lowercase;
}
.clientes-principais-3-span11 {
  color: #0f051c;
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 30px;
  font-weight: 600;
}
.clientes-principais4 {
  color: #0f051c;
  text-align: left;
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 30px;
  font-weight: 600;
  position: absolute;
  left: 731px;
  top: 75px;
  width: 690px;
  height: 411px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.clientes-principais-4-span {
  color: #0f051c;
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 30px;
  font-weight: 600;
}
.clientes-principais-4-span2 {
  color: #0f051c;
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 30px;
  font-weight: 600;
  text-transform: lowercase;
}
.clientes-principais-4-span3 {
  color: #0f051c;
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 30px;
  font-weight: 600;
}
.clientes-principais-4-span4 {
  color: #0f051c;
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 30px;
  font-weight: 600;
  text-transform: lowercase;
}
.clientes-principais-4-span5 {
  color: #0f051c;
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 30px;
  font-weight: 600;
}
.clientes-principais-4-span6 {
  color: #0f051c;
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 30px;
  font-weight: 600;
  text-transform: lowercase;
}
.clientes-principais-4-span7 {
  color: #0f051c;
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 30px;
  font-weight: 600;
}
.clientes-principais-4-span8 {
  color: #0f051c;
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 30px;
  font-weight: 600;
  text-transform: lowercase;
}
.clientes-principais-4-span9 {
  color: #0f051c;
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 30px;
  font-weight: 600;
}
.clientes-principais-4-span10 {
  color: #0f051c;
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 30px;
  font-weight: 600;
  text-transform: lowercase;
}
.clientes-principais-4-span11 {
  color: #0f051c;
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 30px;
  font-weight: 600;
}
.cv-eng {
  flex-shrink: 0;
  width: 48px;
  height: 48px;
  position: absolute;
  left: 759px;
  top: 536px;
  aspect-ratio: 1;
}
.cv {
  width: 138.81%;
  height: auto;
  position: absolute;
  right: -18.81%;
  left: -20%;
  top: 50%;
  translate: 0 -50%;
  overflow: visible;
  aspect-ratio: 66.63/54.3;
}
.cv-br {
  flex-shrink: 0;
  width: 48px;
  height: 48px;
  position: absolute;
  left: 1124px;
  top: 536px;
  aspect-ratio: 1;
}
.cv2 {
  width: 138.81%;
  height: auto;
  position: absolute;
  right: -18.81%;
  left: -20%;
  top: 50%;
  translate: 0 -50%;
  overflow: visible;
  aspect-ratio: 66.63/54.3;
}
.clients {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  justify-content: flex-start;
  width: 1414px;
  height: 200px;
  position: absolute;
  left: 41px;
  top: 952px;
  overflow-x: auto;
}
.clients-banner {
  background: #ffffff;
  flex-shrink: 0;
  width: 1414px;
  height: 200px;
  position: relative;
  overflow: hidden;
}
.high {
  position: absolute;
  inset: 0;
}
._4-mlivre {
  width: 350px;
  height: 200px;
  position: absolute;
  left: 1080px;
  top: 0px;
  object-fit: cover;
}
._3-kabum {
  width: 350px;
  height: 200px;
  position: absolute;
  left: 720px;
  top: 0px;
  object-fit: cover;
}
._2-bnamz {
  width: 350px;
  height: 200px;
  position: absolute;
  left: 360px;
  top: 0px;
  object-fit: cover;
}
._1-mercpag {
  width: 350px;
  height: 200px;
  position: absolute;
  left: 0px;
  top: 0px;
  object-fit: cover;
}
.clients2 {
  color: var(--cta-menus, #0f051c);
  text-align: left;
  font-family: "RubikDirt-Regular", sans-serif;
  font-size: 55px;
  font-weight: 400;
  position: absolute;
  left: 41px;
  top: 887px;
  width: 323px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.clients-2-span {
  color: var(--cta-menus, #0f051c);
  font-family: "RubikDirt-Regular", sans-serif;
  font-size: 55px;
  font-weight: 400;
  text-transform: uppercase;
}
.clients-2-span2 {
  color: var(--cta-menus, #0f051c);
  font-family: "RubikDirt-Regular", sans-serif;
  font-size: 55px;
  font-weight: 400;
}
.contacts {
  display: flex;
  flex-direction: column;
  gap: 362px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 662px;
  position: absolute;
  left: 69px;
  top: 540px;
}
.e-mail {
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  position: absolute;
  left: 0px;
  top: 0px;
  aspect-ratio: 1;
}
.funcional2 {
  color: #ffac00;
  text-align: right;
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 15px;
  font-weight: 600;
  position: absolute;
  left: calc(50% - -153px);
  top: calc(50% - -7px);
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.prot-tipo3 {
  color: #ffac00;
  text-align: right;
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 35px;
  font-weight: 600;
  position: absolute;
  left: calc(50% - -76px);
  top: calc(50% - 32px);
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.email {
  width: 55px;
  height: 55px;
  position: absolute;
  left: -5px;
  top: -3px;
  overflow: visible;
  aspect-ratio: 1;
}
.linkedin {
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  position: absolute;
  left: 367px;
  top: 0px;
  aspect-ratio: 1;
}
.funcional3 {
  color: #ffac00;
  text-align: right;
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 15px;
  font-weight: 600;
  position: absolute;
  left: calc(50% - -158px);
  top: calc(50% - -7px);
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.prot-tipo4 {
  color: #ffac00;
  text-align: right;
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 35px;
  font-weight: 600;
  position: absolute;
  left: calc(50% - -103px);
  top: calc(50% - 32px);
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.ldin {
  width: 92%;
  height: 49.75px;
  position: absolute;
  right: 8%;
  left: 0%;
  top: 50%;
  translate: 0 -50%;
  overflow: visible;
  aspect-ratio: 46/49.75;
}
.whatsapp {
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  position: absolute;
  left: 0px;
  top: 180px;
}
.funcional4 {
  color: #ffac00;
  text-align: right;
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 15px;
  font-weight: 600;
  position: absolute;
  left: calc(50% - -184px);
  top: calc(50% - -7px);
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.zap {
  width: 50px;
  height: 50px;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
  aspect-ratio: 1;
}
.behance {
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  position: absolute;
  left: 367px;
  top: 180px;
}
.funcional5 {
  color: #ffac00;
  text-align: right;
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 15px;
  font-weight: 600;
  position: absolute;
  left: calc(50% - -135px);
  top: calc(50% - -7px);
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.prot-tipo5 {
  color: #ffac00;
  text-align: right;
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 35px;
  font-weight: 600;
  position: absolute;
  left: calc(50% - -96px);
  top: calc(50% - 32px);
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.behance2 {
  width: 114.95%;
  height: 80%;
  position: absolute;
  right: -14.95%;
  left: 0%;
  bottom: 10%;
  top: 10%;
  overflow: visible;
  aspect-ratio: 57.47/40;
}
.picture {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 565px;
  height: 630px;
  position: absolute;
  left: 895px;
  top: 252.46px;
  aspect-ratio: 565/630;
}
.polaroid-n-ologo-1 {
  flex-shrink: 0;
  width: 503.39px;
  height: 650px;
  position: absolute;
  left: -23px;
  top: 25.63px;
  transform-origin: 0 0;
  transform: rotate(-7.5deg) scale(1, 1);
  object-fit: contain;
  aspect-ratio: 503.39/650;
}
.pc-d {
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  position: absolute;
  left: 8px;
  top: 108px;
  object-fit: cover;
}
.logotype {
  flex-shrink: 0;
  width: 478.56px;
  height: 418.78px;
  position: absolute;
  left: -32px;
  top: 171.54px;
}
.yellow {
  height: auto;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.title {
  display: flex;
  flex-direction: row;
  gap: 68px;
  row-gap: 0px;
  align-items: flex-end;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: flex-end;
  width: 854px;
  height: 160px;
  position: absolute;
  left: 41px;
  top: 252.46px;
}
.icaro-batista {
  color: var(--cta-menus, #0f051c);
  text-align: left;
  font-family: "RubikDirt-Regular", sans-serif;
  font-size: 75px;
  font-weight: 400;
  text-transform: uppercase;
  position: relative;
  width: 606px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.ux-ui-designer {
  color: var(--cta-menus, #0f051c);
  text-align: left;
  font-family: "RubikDirt-Regular", sans-serif;
  font-size: 55px;
  font-weight: 400;
  position: relative;
  width: 450px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.ux-ui-designer-span {
  color: var(--cta-menus, #0f051c);
  font-family: "RubikDirt-Regular", sans-serif;
  font-size: 55px;
  font-weight: 400;
  text-transform: uppercase;
}
.ux-ui-designer-span2 {
  color: var(--cta-menus, #0f051c);
  font-family: "RubikDirt-Regular", sans-serif;
  font-size: 55px;
  font-weight: 400;
}
.pw-d-cid-10-z-96-6 {
  color: #ffffff;
  text-align: left;
  font-family: "RubikDirt-Regular", sans-serif;
  font-size: 30px;
  font-weight: 400;
  position: absolute;
  right: -2px;
  top: 117px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.topbar {
  display: flex;
  flex-direction: column;
  gap: 2795px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 1500px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.topbar2 {
  background: #0f051c;
  align-self: stretch;
  flex-shrink: 0;
  height: 152.46px;
  position: relative;
}
.eng-bra {
  flex-shrink: 0;
  width: 130px;
  height: 50px;
  position: absolute;
  left: 41px;
  top: 76px;
}
.eng-bra2 {
  background: var(--cta-elements, #ffac00);
  border-radius: 55px;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
}
.uk-fill {
  width: 28.9%;
  height: 53.85%;
  position: absolute;
  right: 31.21%;
  left: 39.88%;
  bottom: -30.77%;
  top: 76.92%;
  transform: translate(-37.57px, -26.92px);
  overflow: visible;
}
.br-stroke {
  width: 34.68%;
  height: 65.93%;
  position: absolute;
  right: -26.01%;
  left: 91.33%;
  bottom: 15.6%;
  top: 18.46%;
  transform: translate(-45.09px, 0px);
  overflow: visible;
  aspect-ratio: 45.09/32.97;
}
.menu {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 581px;
  top: 90px;
}
.menu2 {
  flex-shrink: 0;
  width: 286px;
  height: 45px;
  position: relative;
}
.portf-lio {
  color: var(--text-primary, #ffac00);
  text-align: left;
  font-family: "RubikDirt-Regular", sans-serif;
  font-size: 45px;
  font-weight: 400;
  text-transform: uppercase;
  position: absolute;
  right: 0px;
  bottom: 0%;
  top: 0%;
  height: 100%;
  width: 275px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.menu3 {
  flex-shrink: 0;
  width: 248px;
  height: 45px;
  position: absolute;
  left: 369px;
  top: 0px;
}
.servi-os {
  color: var(--text-primary, #ffac00);
  text-align: left;
  font-family: "RubikDirt-Regular", sans-serif;
  font-size: 45px;
  font-weight: 400;
  text-transform: uppercase;
  position: absolute;
  right: 0px;
  bottom: 0%;
  top: 0%;
  height: 100%;
  width: 240px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.menu4 {
  flex-shrink: 0;
  width: 207px;
  height: 45px;
  position: absolute;
  left: 667px;
  top: 0px;
}
.habilidades {
  color: var(--text-primary, #ffac00);
  text-align: right;
  font-family: "RubikDirt-Regular", sans-serif;
  font-size: 45px;
  font-weight: 400;
  text-transform: uppercase;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 325px;
  height: 45px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
.mode {
  width: 92.31px;
  height: 50px;
  position: absolute;
  left: 41px;
  top: 17px;
  overflow: visible;
  aspect-ratio: 92.31/50;
}
