._1-ux-ui,
._1-ux-ui * {
  box-sizing: border-box;
}
._1-ux-ui {
  background: #0f051c;
  height: 4277px;
  position: relative;
  overflow: hidden;
}
.bottombar {
  background: #ffac00;
  padding: 54px 206px 54px 206px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 1500px;
  height: 152.46px;
  position: absolute;
  left: 0px;
  top: 4125px;
}
.todos-direitos-reservados-2022-criado-e-desenvolvido-euicaro {
  color: #0f051c;
  text-align: left;
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.todos-direitos-reservados-2022-criado-e-desenvolvido-euicaro-span {
  color: #0f051c;
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 30px;
  font-weight: 600;
}
.todos-direitos-reservados-2022-criado-e-desenvolvido-euicaro-span2 {
  color: #0f051c;
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 35px;
  font-weight: 600;
  text-transform: uppercase;
}
.todos-direitos-reservados-2022-criado-e-desenvolvido-euicaro-span3 {
  color: #0f051c;
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 30px;
  font-weight: 600;
  text-transform: uppercase;
}
.todos-direitos-reservados-2022-criado-e-desenvolvido-euicaro-span4 {
  color: #0f051c;
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 40px;
  font-weight: 600;
  text-transform: uppercase;
}
.todos-direitos-reservados-2022-criado-e-desenvolvido-euicaro-span5 {
  color: #0f051c;
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 30px;
  font-weight: 600;
  text-transform: uppercase;
}
.todos-direitos-reservados-2022-criado-e-desenvolvido-euicaro-span6 {
  color: #0f051c;
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 30px;
  font-weight: 600;
}
.todos-direitos-reservados-2022-criado-e-desenvolvido-euicaro-span7 {
  color: #0f051c;
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 30px;
  font-weight: 600;
  text-transform: lowercase;
}
.todos-direitos-reservados-2022-criado-e-desenvolvido-euicaro-span8 {
  color: #0f051c;
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 30px;
  font-weight: 600;
}
.todos-direitos-reservados-2022-criado-e-desenvolvido-euicaro-span9 {
  color: #0f051c;
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 30px;
  font-weight: 600;
  text-transform: uppercase;
}
.todos-direitos-reservados-2022-criado-e-desenvolvido-euicaro-span10 {
  color: #0f051c;
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 30px;
  font-weight: 600;
  text-transform: lowercase;
}
.todos-direitos-reservados-2022-criado-e-desenvolvido-euicaro-span11 {
  color: #0f051c;
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 40px;
  font-weight: 600;
  text-transform: lowercase;
}
.box-4-portfolio {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  height: 756px;
  position: absolute;
  left: 29px;
  top: 3262px;
}
.interface-de-usu-rio-ui-responsiva-desenvolvida-como-um-hub-das-minhas-redes-profissionais-de-contatos-e-tamb-m-portf-lio-on-line-para-euicaro-e-icarocorpse-icaro-batista-implementando-a-gestalt-no-layout-cores-signos-e-caixas-de-produtos-e-textos-criei-um-ecossistema-pictogr-fico-sensorial-formando-a-unidade-est-tica-utilizando-o-logotipo-da-marca-em-quest-o-formando-seu-design-system {
  color: #ffac00;
  text-align: left;
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 35px;
  line-height: 50px;
  font-weight: 600;
  position: absolute;
  left: 699px;
  top: 101px;
  width: 732px;
  height: 550px;
}
.interface-de-usu-rio-ui-responsiva-desenvolvida-como-um-hub-das-minhas-redes-profissionais-de-contatos-e-tamb-m-portf-lio-on-line-para-euicaro-e-icarocorpse-icaro-batista-implementando-a-gestalt-no-layout-cores-signos-e-caixas-de-produtos-e-textos-criei-um-ecossistema-pictogr-fico-sensorial-formando-a-unidade-est-tica-utilizando-o-logotipo-da-marca-em-quest-o-formando-seu-design-system-span {
  color: #ffac00;
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 35px;
  line-height: 50px;
  font-weight: 600;
}
.interface-de-usu-rio-ui-responsiva-desenvolvida-como-um-hub-das-minhas-redes-profissionais-de-contatos-e-tamb-m-portf-lio-on-line-para-euicaro-e-icarocorpse-icaro-batista-implementando-a-gestalt-no-layout-cores-signos-e-caixas-de-produtos-e-textos-criei-um-ecossistema-pictogr-fico-sensorial-formando-a-unidade-est-tica-utilizando-o-logotipo-da-marca-em-quest-o-formando-seu-design-system-span2 {
  color: #ffac00;
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 35px;
  line-height: 50px;
  font-weight: 600;
  text-transform: lowercase;
}
.interface-de-usu-rio-ui-responsiva-desenvolvida-como-um-hub-das-minhas-redes-profissionais-de-contatos-e-tamb-m-portf-lio-on-line-para-euicaro-e-icarocorpse-icaro-batista-implementando-a-gestalt-no-layout-cores-signos-e-caixas-de-produtos-e-textos-criei-um-ecossistema-pictogr-fico-sensorial-formando-a-unidade-est-tica-utilizando-o-logotipo-da-marca-em-quest-o-formando-seu-design-system-span3 {
  color: #ffac00;
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 35px;
  line-height: 50px;
  font-weight: 600;
}
.interface-de-usu-rio-ui-responsiva-desenvolvida-como-um-hub-das-minhas-redes-profissionais-de-contatos-e-tamb-m-portf-lio-on-line-para-euicaro-e-icarocorpse-icaro-batista-implementando-a-gestalt-no-layout-cores-signos-e-caixas-de-produtos-e-textos-criei-um-ecossistema-pictogr-fico-sensorial-formando-a-unidade-est-tica-utilizando-o-logotipo-da-marca-em-quest-o-formando-seu-design-system-span4 {
  color: #ffac00;
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 35px;
  line-height: 50px;
  font-weight: 600;
  text-transform: uppercase;
}
.interface-de-usu-rio-ui-responsiva-desenvolvida-como-um-hub-das-minhas-redes-profissionais-de-contatos-e-tamb-m-portf-lio-on-line-para-euicaro-e-icarocorpse-icaro-batista-implementando-a-gestalt-no-layout-cores-signos-e-caixas-de-produtos-e-textos-criei-um-ecossistema-pictogr-fico-sensorial-formando-a-unidade-est-tica-utilizando-o-logotipo-da-marca-em-quest-o-formando-seu-design-system-span5 {
  color: #ffac00;
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 35px;
  line-height: 50px;
  font-weight: 600;
  text-transform: lowercase;
}
.interface-de-usu-rio-ui-responsiva-desenvolvida-como-um-hub-das-minhas-redes-profissionais-de-contatos-e-tamb-m-portf-lio-on-line-para-euicaro-e-icarocorpse-icaro-batista-implementando-a-gestalt-no-layout-cores-signos-e-caixas-de-produtos-e-textos-criei-um-ecossistema-pictogr-fico-sensorial-formando-a-unidade-est-tica-utilizando-o-logotipo-da-marca-em-quest-o-formando-seu-design-system-span6 {
  color: #ffac00;
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 35px;
  line-height: 50px;
  font-weight: 600;
}
.interface-de-usu-rio-ui-responsiva-desenvolvida-como-um-hub-das-minhas-redes-profissionais-de-contatos-e-tamb-m-portf-lio-on-line-para-euicaro-e-icarocorpse-icaro-batista-implementando-a-gestalt-no-layout-cores-signos-e-caixas-de-produtos-e-textos-criei-um-ecossistema-pictogr-fico-sensorial-formando-a-unidade-est-tica-utilizando-o-logotipo-da-marca-em-quest-o-formando-seu-design-system-span7 {
  color: #ffac00;
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 35px;
  line-height: 50px;
  font-weight: 600;
  text-transform: lowercase;
}
.interface-de-usu-rio-ui-responsiva-desenvolvida-como-um-hub-das-minhas-redes-profissionais-de-contatos-e-tamb-m-portf-lio-on-line-para-euicaro-e-icarocorpse-icaro-batista-implementando-a-gestalt-no-layout-cores-signos-e-caixas-de-produtos-e-textos-criei-um-ecossistema-pictogr-fico-sensorial-formando-a-unidade-est-tica-utilizando-o-logotipo-da-marca-em-quest-o-formando-seu-design-system-span8 {
  color: #ffac00;
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 35px;
  line-height: 50px;
  font-weight: 600;
}
.interface-de-usu-rio-ui-responsiva-desenvolvida-como-um-hub-das-minhas-redes-profissionais-de-contatos-e-tamb-m-portf-lio-on-line-para-euicaro-e-icarocorpse-icaro-batista-implementando-a-gestalt-no-layout-cores-signos-e-caixas-de-produtos-e-textos-criei-um-ecossistema-pictogr-fico-sensorial-formando-a-unidade-est-tica-utilizando-o-logotipo-da-marca-em-quest-o-formando-seu-design-system-span9 {
  color: #ffac00;
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 35px;
  line-height: 50px;
  font-weight: 600;
  text-transform: lowercase;
}
.interface-de-usu-rio-ui-responsiva-desenvolvida-como-um-hub-das-minhas-redes-profissionais-de-contatos-e-tamb-m-portf-lio-on-line-para-euicaro-e-icarocorpse-icaro-batista-implementando-a-gestalt-no-layout-cores-signos-e-caixas-de-produtos-e-textos-criei-um-ecossistema-pictogr-fico-sensorial-formando-a-unidade-est-tica-utilizando-o-logotipo-da-marca-em-quest-o-formando-seu-design-system-span10 {
  color: #ffac00;
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 35px;
  line-height: 50px;
  font-weight: 600;
}
.interface-de-usu-rio-ui-responsiva-desenvolvida-como-um-hub-das-minhas-redes-profissionais-de-contatos-e-tamb-m-portf-lio-on-line-para-euicaro-e-icarocorpse-icaro-batista-implementando-a-gestalt-no-layout-cores-signos-e-caixas-de-produtos-e-textos-criei-um-ecossistema-pictogr-fico-sensorial-formando-a-unidade-est-tica-utilizando-o-logotipo-da-marca-em-quest-o-formando-seu-design-system-span11 {
  color: #ffac00;
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 35px;
  line-height: 50px;
  font-weight: 600;
  text-transform: lowercase;
}
.interface-de-usu-rio-ui-responsiva-desenvolvida-como-um-hub-das-minhas-redes-profissionais-de-contatos-e-tamb-m-portf-lio-on-line-para-euicaro-e-icarocorpse-icaro-batista-implementando-a-gestalt-no-layout-cores-signos-e-caixas-de-produtos-e-textos-criei-um-ecossistema-pictogr-fico-sensorial-formando-a-unidade-est-tica-utilizando-o-logotipo-da-marca-em-quest-o-formando-seu-design-system-span12 {
  color: #ffac00;
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 35px;
  line-height: 50px;
  font-weight: 600;
  text-transform: uppercase;
}
.prot-euicaro {
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  position: absolute;
  left: 1136px;
  top: 680.46px;
  aspect-ratio: 1;
}
.botton {
  background: #ffac00;
  border-radius: 55px;
  width: 300px;
  height: 65px;
  position: absolute;
  left: -15px;
  top: -8px;
}
.funcional {
  color: #0f051c;
  text-align: right;
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 15px;
  font-weight: 600;
  position: absolute;
  left: calc(50% - -65px);
  top: calc(50% - -11px);
  width: 156px;
  height: 11px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.prot-tipo {
  color: #0f051c;
  text-align: right;
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 35px;
  font-weight: 600;
  position: absolute;
  left: calc(50% - -64px);
  top: calc(50% - 23px);
  width: 157px;
  height: 26px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.prototype {
  width: 100%;
  height: 49.13px;
  position: absolute;
  right: -60%;
  left: 60%;
  top: 50%;
  translate: 0 -50%;
  overflow: visible;
  aspect-ratio: 50/49.13;
}
.euicaro-com {
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  position: absolute;
  left: 731px;
  top: 680.46px;
  aspect-ratio: 1;
}
.div {
  width: 100%;
  height: 100%;
  position: absolute;
  right: -60%;
  left: 60%;
  bottom: 0%;
  top: 0%;
  overflow: visible;
}
.euicaro-com-euicaro {
  color: #ffac00;
  text-align: left;
  font-family: "RubikDirt-Regular", sans-serif;
  font-size: 55px;
  font-weight: 400;
  position: absolute;
  left: 696px;
  top: -81px;
  width: 732px;
  height: 116px;
}
.euicaro-com-euicaro-span {
  color: #ffac00;
  font-family: "RubikDirt-Regular", sans-serif;
  font-size: 55px;
  font-weight: 400;
  text-transform: lowercase;
}
.euicaro-com-euicaro-span2 {
  color: #ffac00;
  font-family: "RubikDirt-Regular", sans-serif;
  font-size: 55px;
  font-weight: 400;
}
.euicaro-com-euicaro-span3 {
  color: #ffac00;
  font-family: "RubikDirt-Regular", sans-serif;
  font-size: 55px;
  font-weight: 400;
  text-transform: lowercase;
}
.portfolio-euicaro-com {
  background: #ffffff;
  flex-shrink: 0;
  width: 600px;
  height: 700px;
  position: absolute;
  left: 23px;
  top: -49px;
  overflow: hidden;
}
.mercpag {
  position: absolute;
  inset: 0;
}
.low {
  width: 100%;
  height: 100%;
  position: absolute;
  right: -201.67%;
  left: 201.67%;
  bottom: 0%;
  top: 0%;
  object-fit: cover;
}
.mid {
  width: 100%;
  height: 100%;
  position: absolute;
  right: -100.83%;
  left: 100.83%;
  bottom: 0%;
  top: 0%;
  object-fit: cover;
}
.hig {
  width: 600px;
  height: 100%;
  position: absolute;
  right: 0px;
  bottom: 0%;
  top: 0%;
  object-fit: cover;
  aspect-ratio: 600/700;
}
.box-3-portfolio {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  height: 756px;
  position: absolute;
  left: 29px;
  top: 2326px;
}
.e-commerce-aplicativo-celular-e-site-desktop-desenvolvida-para-empresa-de-engenharia-mec-nica-mdr-p-arts-com-os-dados-e-m-tricas-do-estudo-revisados-analisados-e-decupados-desenvolvi-a-ui-interface-do-usu-rio-implementando-a-gestalt-no-layout-cores-signos-e-caixas-de-produtos-e-textos-criei-um-ecossistema-pictogr-fico-sensorial-formando-a-unidade-est-tica-com-todos-meios-de-publicidade-que-atuaremos-design-system {
  color: #ffac00;
  text-align: left;
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 35px;
  line-height: 50px;
  font-weight: 600;
  position: absolute;
  left: 699px;
  top: 35px;
  width: 732px;
  height: 600px;
}
.e-commerce-aplicativo-celular-e-site-desktop-desenvolvida-para-empresa-de-engenharia-mec-nica-mdr-p-arts-com-os-dados-e-m-tricas-do-estudo-revisados-analisados-e-decupados-desenvolvi-a-ui-interface-do-usu-rio-implementando-a-gestalt-no-layout-cores-signos-e-caixas-de-produtos-e-textos-criei-um-ecossistema-pictogr-fico-sensorial-formando-a-unidade-est-tica-com-todos-meios-de-publicidade-que-atuaremos-design-system-span {
  color: #ffac00;
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 35px;
  line-height: 50px;
  font-weight: 600;
  text-transform: uppercase;
}
.e-commerce-aplicativo-celular-e-site-desktop-desenvolvida-para-empresa-de-engenharia-mec-nica-mdr-p-arts-com-os-dados-e-m-tricas-do-estudo-revisados-analisados-e-decupados-desenvolvi-a-ui-interface-do-usu-rio-implementando-a-gestalt-no-layout-cores-signos-e-caixas-de-produtos-e-textos-criei-um-ecossistema-pictogr-fico-sensorial-formando-a-unidade-est-tica-com-todos-meios-de-publicidade-que-atuaremos-design-system-span2 {
  color: #ffac00;
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 35px;
  line-height: 50px;
  font-weight: 600;
  text-transform: lowercase;
}
.e-commerce-aplicativo-celular-e-site-desktop-desenvolvida-para-empresa-de-engenharia-mec-nica-mdr-p-arts-com-os-dados-e-m-tricas-do-estudo-revisados-analisados-e-decupados-desenvolvi-a-ui-interface-do-usu-rio-implementando-a-gestalt-no-layout-cores-signos-e-caixas-de-produtos-e-textos-criei-um-ecossistema-pictogr-fico-sensorial-formando-a-unidade-est-tica-com-todos-meios-de-publicidade-que-atuaremos-design-system-span3 {
  color: #ffac00;
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 35px;
  line-height: 50px;
  font-weight: 600;
  text-transform: uppercase;
}
.e-commerce-aplicativo-celular-e-site-desktop-desenvolvida-para-empresa-de-engenharia-mec-nica-mdr-p-arts-com-os-dados-e-m-tricas-do-estudo-revisados-analisados-e-decupados-desenvolvi-a-ui-interface-do-usu-rio-implementando-a-gestalt-no-layout-cores-signos-e-caixas-de-produtos-e-textos-criei-um-ecossistema-pictogr-fico-sensorial-formando-a-unidade-est-tica-com-todos-meios-de-publicidade-que-atuaremos-design-system-span4 {
  color: #ffac00;
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 35px;
  line-height: 50px;
  font-weight: 600;
}
.e-commerce-aplicativo-celular-e-site-desktop-desenvolvida-para-empresa-de-engenharia-mec-nica-mdr-p-arts-com-os-dados-e-m-tricas-do-estudo-revisados-analisados-e-decupados-desenvolvi-a-ui-interface-do-usu-rio-implementando-a-gestalt-no-layout-cores-signos-e-caixas-de-produtos-e-textos-criei-um-ecossistema-pictogr-fico-sensorial-formando-a-unidade-est-tica-com-todos-meios-de-publicidade-que-atuaremos-design-system-span5 {
  color: #ffac00;
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 35px;
  line-height: 50px;
  font-weight: 600;
  text-transform: lowercase;
}
.e-commerce-aplicativo-celular-e-site-desktop-desenvolvida-para-empresa-de-engenharia-mec-nica-mdr-p-arts-com-os-dados-e-m-tricas-do-estudo-revisados-analisados-e-decupados-desenvolvi-a-ui-interface-do-usu-rio-implementando-a-gestalt-no-layout-cores-signos-e-caixas-de-produtos-e-textos-criei-um-ecossistema-pictogr-fico-sensorial-formando-a-unidade-est-tica-com-todos-meios-de-publicidade-que-atuaremos-design-system-span6 {
  color: #ffac00;
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 35px;
  line-height: 50px;
  font-weight: 600;
}
.e-commerce-aplicativo-celular-e-site-desktop-desenvolvida-para-empresa-de-engenharia-mec-nica-mdr-p-arts-com-os-dados-e-m-tricas-do-estudo-revisados-analisados-e-decupados-desenvolvi-a-ui-interface-do-usu-rio-implementando-a-gestalt-no-layout-cores-signos-e-caixas-de-produtos-e-textos-criei-um-ecossistema-pictogr-fico-sensorial-formando-a-unidade-est-tica-com-todos-meios-de-publicidade-que-atuaremos-design-system-span7 {
  color: #ffac00;
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 35px;
  line-height: 50px;
  font-weight: 600;
  text-transform: lowercase;
}
.e-commerce-aplicativo-celular-e-site-desktop-desenvolvida-para-empresa-de-engenharia-mec-nica-mdr-p-arts-com-os-dados-e-m-tricas-do-estudo-revisados-analisados-e-decupados-desenvolvi-a-ui-interface-do-usu-rio-implementando-a-gestalt-no-layout-cores-signos-e-caixas-de-produtos-e-textos-criei-um-ecossistema-pictogr-fico-sensorial-formando-a-unidade-est-tica-com-todos-meios-de-publicidade-que-atuaremos-design-system-span8 {
  color: #ffac00;
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 35px;
  line-height: 50px;
  font-weight: 600;
  text-transform: uppercase;
}
.e-commerce-aplicativo-celular-e-site-desktop-desenvolvida-para-empresa-de-engenharia-mec-nica-mdr-p-arts-com-os-dados-e-m-tricas-do-estudo-revisados-analisados-e-decupados-desenvolvi-a-ui-interface-do-usu-rio-implementando-a-gestalt-no-layout-cores-signos-e-caixas-de-produtos-e-textos-criei-um-ecossistema-pictogr-fico-sensorial-formando-a-unidade-est-tica-com-todos-meios-de-publicidade-que-atuaremos-design-system-span9 {
  color: #ffac00;
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 35px;
  line-height: 50px;
  font-weight: 600;
  text-transform: lowercase;
}
.e-commerce-aplicativo-celular-e-site-desktop-desenvolvida-para-empresa-de-engenharia-mec-nica-mdr-p-arts-com-os-dados-e-m-tricas-do-estudo-revisados-analisados-e-decupados-desenvolvi-a-ui-interface-do-usu-rio-implementando-a-gestalt-no-layout-cores-signos-e-caixas-de-produtos-e-textos-criei-um-ecossistema-pictogr-fico-sensorial-formando-a-unidade-est-tica-com-todos-meios-de-publicidade-que-atuaremos-design-system-span10 {
  color: #ffac00;
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 35px;
  line-height: 50px;
  font-weight: 600;
}
.e-commerce-aplicativo-celular-e-site-desktop-desenvolvida-para-empresa-de-engenharia-mec-nica-mdr-p-arts-com-os-dados-e-m-tricas-do-estudo-revisados-analisados-e-decupados-desenvolvi-a-ui-interface-do-usu-rio-implementando-a-gestalt-no-layout-cores-signos-e-caixas-de-produtos-e-textos-criei-um-ecossistema-pictogr-fico-sensorial-formando-a-unidade-est-tica-com-todos-meios-de-publicidade-que-atuaremos-design-system-span11 {
  color: #ffac00;
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 35px;
  line-height: 50px;
  font-weight: 600;
  text-transform: lowercase;
}
.e-commerce-aplicativo-celular-e-site-desktop-desenvolvida-para-empresa-de-engenharia-mec-nica-mdr-p-arts-com-os-dados-e-m-tricas-do-estudo-revisados-analisados-e-decupados-desenvolvi-a-ui-interface-do-usu-rio-implementando-a-gestalt-no-layout-cores-signos-e-caixas-de-produtos-e-textos-criei-um-ecossistema-pictogr-fico-sensorial-formando-a-unidade-est-tica-com-todos-meios-de-publicidade-que-atuaremos-design-system-span12 {
  color: #ffac00;
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 35px;
  line-height: 50px;
  font-weight: 600;
}
.e-commerce-aplicativo-celular-e-site-desktop-desenvolvida-para-empresa-de-engenharia-mec-nica-mdr-p-arts-com-os-dados-e-m-tricas-do-estudo-revisados-analisados-e-decupados-desenvolvi-a-ui-interface-do-usu-rio-implementando-a-gestalt-no-layout-cores-signos-e-caixas-de-produtos-e-textos-criei-um-ecossistema-pictogr-fico-sensorial-formando-a-unidade-est-tica-com-todos-meios-de-publicidade-que-atuaremos-design-system-span13 {
  color: #ffac00;
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 35px;
  line-height: 50px;
  font-weight: 600;
  text-transform: lowercase;
}
.prot-mdr {
  background: linear-gradient(to left, #0f051c, #0f051c);
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  position: absolute;
  left: 1136px;
  top: 670.46px;
  aspect-ratio: 1;
}
.botton2 {
  background: #ffac00;
  border-radius: 55px;
  width: 325px;
  height: 65px;
  position: absolute;
  left: -33px;
  top: -8px;
}
.funcional2 {
  color: #0f051c;
  text-align: right;
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 15px;
  font-weight: 600;
  position: absolute;
  left: calc(50% - -83px);
  top: calc(50% - -11px);
  width: 156px;
  height: 11px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.prot-tipo2 {
  color: #0f051c;
  text-align: right;
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 35px;
  font-weight: 600;
  position: absolute;
  left: calc(50% - -73px);
  top: calc(50% - 23px);
  width: 166px;
  height: 26px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.prototype2 {
  width: 100%;
  height: 49.13px;
  position: absolute;
  right: 0%;
  left: 0%;
  top: 50%;
  translate: 0 -50%;
  overflow: visible;
  aspect-ratio: 50/49.13;
}
.mdr {
  background: linear-gradient(to left, #0f051c, #0f051c);
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  position: absolute;
  left: 731px;
  top: 670.46px;
  aspect-ratio: 1;
}
.div2 {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 4%;
  left: -4%;
  bottom: -4%;
  top: 4%;
  overflow: visible;
}
.mdr-parts {
  color: #ffac00;
  text-align: left;
  font-family: "RubikDirt-Regular", sans-serif;
  font-size: 55px;
  font-weight: 400;
  position: absolute;
  left: 699px;
  top: -77px;
  width: 731px;
  height: 57px;
}
.mdr-parts-span {
  color: #ffac00;
  font-family: "RubikDirt-Regular", sans-serif;
  font-size: 55px;
  font-weight: 400;
  text-transform: uppercase;
}
.mdr-parts-span2 {
  color: #ffac00;
  font-family: "RubikDirt-Regular", sans-serif;
  font-size: 55px;
  font-weight: 400;
  text-transform: lowercase;
}
.mdr-parts-span3 {
  color: #ffac00;
  font-family: "RubikDirt-Regular", sans-serif;
  font-size: 55px;
  font-weight: 400;
}
.portfolio-mdr-parts {
  background: #ffffff;
  flex-shrink: 0;
  width: 600px;
  height: 700px;
  position: absolute;
  left: 23px;
  top: -65px;
  overflow: hidden;
}
.box-2-portfolio {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  height: 747px;
  position: absolute;
  left: 29px;
  top: 1399px;
}
.ui-design-e-nova-identidade-visual-aplicativo-desenvolvido-para-uso-exclusivo-dos-funcion-rios-do-e-commerce-de-tecnologia-ap-s-ter-participado-e-receber-os-dados-da-pesquisa-ux-experi-ncia-do-usu-rio-desenvolvi-o-redesign-da-ui-interface-do-usu-rio-e-toda-a-identidade-visual-do-aplicativo-apliquei-conceitos-da-gestalt-no-logotipo-textos-e-signos-no-logotipo-utilizei-fonte-tipogr-fica-cores-e-pictografia-remetendo-ao-nome-do-produto {
  color: #ffac00;
  text-align: left;
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 35px;
  line-height: 50px;
  font-weight: 600;
  position: absolute;
  left: 698px;
  top: 57px;
  width: 732px;
  height: 604px;
}
.ui-design-e-nova-identidade-visual-aplicativo-desenvolvido-para-uso-exclusivo-dos-funcion-rios-do-e-commerce-de-tecnologia-ap-s-ter-participado-e-receber-os-dados-da-pesquisa-ux-experi-ncia-do-usu-rio-desenvolvi-o-redesign-da-ui-interface-do-usu-rio-e-toda-a-identidade-visual-do-aplicativo-apliquei-conceitos-da-gestalt-no-logotipo-textos-e-signos-no-logotipo-utilizei-fonte-tipogr-fica-cores-e-pictografia-remetendo-ao-nome-do-produto-span {
  color: #ffac00;
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 35px;
  line-height: 50px;
  font-weight: 600;
  text-transform: uppercase;
}
.ui-design-e-nova-identidade-visual-aplicativo-desenvolvido-para-uso-exclusivo-dos-funcion-rios-do-e-commerce-de-tecnologia-ap-s-ter-participado-e-receber-os-dados-da-pesquisa-ux-experi-ncia-do-usu-rio-desenvolvi-o-redesign-da-ui-interface-do-usu-rio-e-toda-a-identidade-visual-do-aplicativo-apliquei-conceitos-da-gestalt-no-logotipo-textos-e-signos-no-logotipo-utilizei-fonte-tipogr-fica-cores-e-pictografia-remetendo-ao-nome-do-produto-span2 {
  color: #ffac00;
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 35px;
  line-height: 50px;
  font-weight: 600;
  text-transform: lowercase;
}
.app-ninja-kabum-com-br {
  color: #ffac00;
  text-align: left;
  font-family: "RubikDirt-Regular", sans-serif;
  font-size: 55px;
  font-weight: 400;
  position: absolute;
  left: 698px;
  top: -90px;
  width: 732px;
  height: 116px;
}
.app-ninja-kabum-com-br-span {
  color: #ffac00;
  font-family: "RubikDirt-Regular", sans-serif;
  font-size: 55px;
  font-weight: 400;
}
.app-ninja-kabum-com-br-span2 {
  color: #ffac00;
  font-family: "RubikDirt-Regular", sans-serif;
  font-size: 55px;
  font-weight: 400;
  text-transform: lowercase;
}
.app-ninja-kabum-com-br-span3 {
  color: #ffac00;
  font-family: "RubikDirt-Regular", sans-serif;
  font-size: 55px;
  font-weight: 400;
}
.prot-appninja {
  background: linear-gradient(to left, #0f051c, #0f051c);
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  position: absolute;
  left: 1136px;
  top: 690.46px;
  aspect-ratio: 1;
}
.prototype3 {
  width: 100%;
  height: 49.13px;
  position: absolute;
  right: 0%;
  left: 0%;
  top: 50%;
  translate: 0 -50%;
  overflow: visible;
  aspect-ratio: 50/49.13;
}
.appninja {
  background: linear-gradient(to left, #0f051c, #0f051c);
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  position: absolute;
  left: 731px;
  top: 690.46px;
  aspect-ratio: 1;
}
.div3 {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 4%;
  left: -4%;
  bottom: -4%;
  top: 4%;
  overflow: visible;
}
.portfolio-app-ninja {
  background: #ffffff;
  flex-shrink: 0;
  width: 600px;
  height: 700px;
  position: absolute;
  left: 23px;
  top: -43px;
  overflow: hidden;
}
.box-1-portfolio {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 1420px;
  position: absolute;
  left: 40px;
  top: 152px;
}
.ux-design {
  color: #ffac00;
  text-align: left;
  font-family: "RubikDirt-Regular", sans-serif;
  font-size: 75px;
  font-weight: 400;
  text-transform: uppercase;
  position: absolute;
  left: 12px;
  top: 112px;
  width: 430px;
  height: 70px;
}
.interface-de-usu-rio-ui-desenvolvida-para-as-maquinas-de-pagamento-mercado-pago-subsidi-ria-de-pagamentos-da-empresa-de-log-stica-mercado-livre-implementando-a-gestalt-no-layout-cores-signos-e-caixas-de-produtos-e-textos-criei-um-ecossistema-pictogr-fico-sensorial-formando-a-unidade-est-tica-com-todos-meios-de-publicidade-que-atuaremos-design-system {
  color: #ffac00;
  text-align: left;
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 35px;
  line-height: 50px;
  font-weight: 600;
  position: absolute;
  left: 698px;
  top: 377px;
  width: 615px;
  height: 600px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.interface-de-usu-rio-ui-desenvolvida-para-as-maquinas-de-pagamento-mercado-pago-subsidi-ria-de-pagamentos-da-empresa-de-log-stica-mercado-livre-implementando-a-gestalt-no-layout-cores-signos-e-caixas-de-produtos-e-textos-criei-um-ecossistema-pictogr-fico-sensorial-formando-a-unidade-est-tica-com-todos-meios-de-publicidade-que-atuaremos-design-system-span {
  color: #ffac00;
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 35px;
  line-height: 50px;
  font-weight: 600;
  text-transform: uppercase;
}
.interface-de-usu-rio-ui-desenvolvida-para-as-maquinas-de-pagamento-mercado-pago-subsidi-ria-de-pagamentos-da-empresa-de-log-stica-mercado-livre-implementando-a-gestalt-no-layout-cores-signos-e-caixas-de-produtos-e-textos-criei-um-ecossistema-pictogr-fico-sensorial-formando-a-unidade-est-tica-com-todos-meios-de-publicidade-que-atuaremos-design-system-span2 {
  color: #ffac00;
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 35px;
  line-height: 50px;
  font-weight: 600;
  text-transform: lowercase;
}
.interface-de-usu-rio-ui-desenvolvida-para-as-maquinas-de-pagamento-mercado-pago-subsidi-ria-de-pagamentos-da-empresa-de-log-stica-mercado-livre-implementando-a-gestalt-no-layout-cores-signos-e-caixas-de-produtos-e-textos-criei-um-ecossistema-pictogr-fico-sensorial-formando-a-unidade-est-tica-com-todos-meios-de-publicidade-que-atuaremos-design-system-span3 {
  color: #ffac00;
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 35px;
  line-height: 50px;
  font-weight: 600;
  text-transform: uppercase;
}
.mercado-pago-mercado-livre {
  color: #ffac00;
  text-align: left;
  font-family: "RubikDirt-Regular", sans-serif;
  font-size: 55px;
  font-weight: 400;
  position: absolute;
  left: 698px;
  top: 220px;
  width: 615px;
}
.prot-mp {
  background: linear-gradient(to left, #0f051c, #0f051c);
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  position: absolute;
  left: 1126px;
  top: 1010.46px;
  aspect-ratio: 1;
}
.prototype4 {
  width: 100%;
  height: 49.13px;
  position: absolute;
  right: 0%;
  left: 0%;
  top: 50%;
  translate: 0 -50%;
  overflow: visible;
  aspect-ratio: 50/49.13;
}
.portfolio-mercado-pago {
  background: #ffffff;
  flex-shrink: 0;
  width: 600px;
  height: 700px;
  position: absolute;
  left: 12px;
  top: 277px;
  overflow: hidden;
}
.mp {
  background: linear-gradient(to left, #0f051c, #0f051c);
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  position: absolute;
  left: 720px;
  top: 1010px;
  aspect-ratio: 1;
}
.div4 {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 4%;
  left: -4%;
  bottom: -4%;
  top: 4%;
  overflow: visible;
}
.topbar {
  display: flex;
  flex-direction: column;
  gap: 1400px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 1500px;
  height: 152px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.topbar2 {
  background: #ffac00;
  align-self: stretch;
  flex-shrink: 0;
  height: 152.46px;
  position: relative;
}
.eng-bra {
  flex-shrink: 0;
  width: 133.08px;
  height: 50px;
  position: absolute;
  left: 40px;
  top: 74px;
  overflow: visible;
  aspect-ratio: 133.08/50;
}
.menu {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 704px;
  top: 90px;
}
.menu2 {
  flex-shrink: 0;
  width: 151px;
  height: 45px;
  position: relative;
}
.in-cio {
  color: #0f051c;
  text-align: left;
  font-family: "RubikDirt-Regular", sans-serif;
  font-size: 45px;
  font-weight: 400;
  text-transform: uppercase;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 150px;
  height: 45px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.menu3 {
  flex-shrink: 0;
  width: 240px;
  height: 45px;
  position: relative;
}
.servi-os {
  color: #0f051c;
  text-align: left;
  font-family: "RubikDirt-Regular", sans-serif;
  font-size: 45px;
  font-weight: 400;
  text-transform: uppercase;
  position: absolute;
  right: 0px;
  bottom: 0%;
  top: 0%;
  height: 100%;
  width: 240px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.menu4 {
  flex-shrink: 0;
  width: 325px;
  height: 45px;
  position: relative;
}
.habilidades {
  color: #0f051c;
  text-align: left;
  font-family: "RubikDirt-Regular", sans-serif;
  font-size: 45px;
  font-weight: 400;
  text-transform: uppercase;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 325px;
  height: 45px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.submenu {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 197px;
  top: 105px;
}
.submenu2 {
  flex-shrink: 0;
  width: 215px;
  height: 30px;
  position: relative;
}
.artes {
  color: #0f051c;
  text-align: left;
  font-family: "RubikDirt-Regular", sans-serif;
  font-size: 30px;
  font-weight: 400;
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  bottom: 0%;
  top: 0%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.submenu3 {
  flex-shrink: 0;
  width: 220px;
  height: 30px;
  position: relative;
}
.design {
  color: #0f051c;
  text-align: left;
  font-family: "RubikDirt-Regular", sans-serif;
  font-size: 30px;
  font-weight: 400;
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  bottom: 0%;
  top: 0%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.mode {
  width: 92.31px;
  height: 50px;
  position: absolute;
  left: 40px;
  top: 16px;
  overflow: visible;
  aspect-ratio: 92.31/50;
}
